<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12"> 
            <img src="./assets/images/login.png" alt="login" width="400" height="500" class="img-fluid img-size">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <form autocomplete="off" [formGroup]="LoginFormGroup" (ngSubmit)="leerDatos()">
                <div class="d-flex flex-column justify-content-center gap-4">
                    <h1 class="text-white text-start mt-5">Ingresar</h1>
                    <div class="d-flex flex-column gap-3">
                        <input formControlName="email" class="form-control" type="email" placeholder="Email">
                        <input formControlName="password" class="form-control" type="password" placeholder="Contraseña">
                    </div>
                    <div class="text-white">¿No tienes una cuenta? <span class="text-link-register"><a href="register" class="link-register">Registrarse</a></span></div>
                    <button [disabled]="LoginFormGroup.invalid" type="submit" class="btn btn-custom">Ingresar</button>
                </div>
            </form>
        </div>
    </div>
</div>
