<div class="full container-fluid">
    <div class="d-flex h-100 jusitify-content-center align-items-center">
        <div class="row ">
            <div class="col-6 d-flex justify-content-center">
                <img src="./assets/images/login.png" alt="login" class="img-fluid img-size">
            </div>
            <div class="col-6 ">
                <form (formGroup)="LoginFormGroup" (ngSubmit)="leerDatos()">
                <div class="d-flex flex-column justify-content-center gap-4 ">
                    <h1 class="text-white text-start">Ingresar</h1>
                    <div class="d-flex flex-column gap-3">
                        <input formControlName="email" class="bg-custom" autocomplete="off" type="email" placeholder="Email">
                        <input formControlName="password" class="bg-custom" autocomplete="off" type="password" placeholder="Contraseña">
                    </div>
                    <div class="text-white">¿No tienes una cuenta? <span class="text-link-register"><a class="link-register">Registrarse</a></span></div>
                    <button type="button" class="btn bt-primary btn-custom">Ingresar</button>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>