<div class="h-screen w-full">
    <div class="d-flex h-100 jusitify-content-center align-items-center">
        <div class="row">
            <div class="col-6">
                <img src="./assets/images/login.png" alt="a" height="500" width="500">
            </div>
            <div class="col-6">
                <div class="d-flex flex-column jusitify-content-center">
                    <h1 class="text-white text-start">Ingresar</h1>
                </div>
            </div>
        </div>
    </div>
</div>