
<div class="container">
  <h1 class="title">{{title}}</h1>
  <p class="text">Las mejores series</p>


  <div class="search-container mt-4">
    <input type="text" class="form-control" [(ngModel)]="busqueda" (input)="buscar()" placeholder="Buscar series" aria-label="Buscar" aria-describedby="basic-addon2">
  </div>

</div>

<div class="container mt-5">
    <div class="row">
      <div class="col-md-3 col-sm-6 mb-4" *ngFor="let serie of series">
        <div class="card card-fixed-size">
          <div class="card-body">
            <img [src]="serie.image" [alt]="serie.title" class="card-img-fixed-size">
            <h5 class="card-title">{{ serie.title }}</h5>
            <p> {{serie.description}} </p>
            <p class="card-title"> {{serie.rating}} </p>
          </div> 
        </div>
    </div>
  </div>
</div>